<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>313694486276-9547744o4d1vg3t7movdcec2h7qo9hgi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.313694486276-9547744o4d1vg3t7movdcec2h7qo9hgi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>313694486276-7fmvkqa7301olluh5ceb9i9njdtec112.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC1DuPhkvUDOXtRLXusiEl0Meu4cEowoDo</string>
	<key>GCM_SENDER_ID</key>
	<string>313694486276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Tim.LightShare.app</string>
	<key>PROJECT_ID</key>
	<string>lightshare-b528a</string>
	<key>STORAGE_BUCKET</key>
	<string>lightshare-b528a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313694486276:ios:d95780c915464b9a70da51</string>
</dict>
</plist>